### Data Types
<p>String/char/text:</p>
<li>everything with "" or '' will be defined as a string, even '123'</li>

<p>Numerical</p>
<li>int, float for storing as integer use L ex: num = 1L will store as INT
OR  as.integer(1)</li>

<p>Logical</p>
<li>boolean values stored as TRUE or FALSE</li>
<li>they are comparison operators, can be transformed to numeric 1 or 0</li>

<p>Conversion functions</p>
<li>as.numeric( )</li>
<li>as.integer( )</li>
<li>as.character( )</li>
<li>as.logical( )</li>
<li>to test: is.x( )</li>
<li>class( ) - returns type of</li>

In [1]:
# ---numeric
number <-1

# check class data type
class(number) # numeric

# underlying data type
typeof(number)  # double

[1] "numeric"

[1] "double"

In [2]:
# ----date
my_date <- as.Date('2021-01-01')

class(my_date) # Date

# dates are stored as numbers, days since 1970
# example:
as.numeric(my_date) # returns 18,628

[1] "Date"

[1] 18628

In [3]:
# ----Char
word <- "newspaper"

class('newspaper') # character

# ---Logical 
class(TRUE) #"logical"

# -- Testing
# is.character
# is.logical
is.numeric("newspaper")  #FALSE

[1] "character"

[1] "logical"

[1] FALSE

### Conversions

In [4]:
number <- 23 

# convert number to string
as.character(number) # "23"

[1] "23"

In [5]:
# R can convert string numbers like "23" to numeric
# if letters or characters are present, R cannot convert to a number
word <- "23"
as.numeric(word) # 23

[1] 23

In [6]:
# you can apply conversions to vectors-change numeric to character but it doesnt stay char
numerical_vector <- c(1,2,3,4)

as.character(numerical_vector)

[1] "1" "2" "3" "4"

In [7]:
# assign to a new object for persistence
char_vector <- as.character(numerical_vector)

char_vector

[1] "1" "2" "3" "4"

In [8]:
# when numbers in a vector contain a string, all will be a string by default
# example:
years_vector <- c(2001, 2004, 2008, 'not a year') # "2001", "2004", "2008", "not a year"

# this will convert to numeric but the last value (a string) is NA
as.numeric(years_vector)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] 2001 2004 2008   NA

In [9]:
# convert logical to numeric (as binary)
logical_vector <- c(TRUE, TRUE, FALSE, TRUE, FALSE)

as.numeric(logical_vector) # 1 1 0 1 0
# save as a var
binary_vector <- as.numeric(logical_vector)
binary_vector

[1] 1 1 0 1 0

[1] 1 1 0 1 0

### Factors
<p>like a variable that enables you to have distinct values</p>

In [10]:
labels <- c('Asia', 'Oceana', 'Antartica', 'Europe', 'Africa', 'North America', 'South America', 'Europe', 'Africa')

# turn vector to a factor to see distinct values
factor_labels <- factor(labels) 

factor_labels

[1] Asia          Oceana        Antartica     Europe        Africa
[6] North America South America Europe        Africa
Levels: Africa Antartica Asia Europe North America Oceana South America

In [11]:
# as.integer(factor_labels) will show the integer value in alp order

# count of distinct factors in vector
nlevels(factor_labels)

[1] 7

In [13]:
# ---- create ordinal columns with factor
altitude_level <- c('High', 'Low', 'Medium', 'Low', 'High', 'Low')

# order matters - use ORDER=TRUE, levels= 
# output: Low < Medium < High
# if not ordered, the levels wont make sense here bc default is alphabetical
altitude_factor <- factor(altitude_level, order = TRUE, levels=c('Low', 'Medium', 'High'))

# verify by using as.integer
# output is based on the levels stated above in the variable
# 3 1 2 1 3 1
as.integer(altitude_factor)

[1] 3 1 2 1 3 1

### Dates
<p> use: as.Date( )</p>

In [14]:
dates <- as.Date(c('2019-01-01', '2019-01-02'))

class(dates) #"Date"

typeof(dates) #"double"

[1] "Date"

[1] "double"

In [15]:
#17897 17898 - 2nd value is higher bc the 2nd date is AFTER the 1st.
# dates are counted by numbers since January 1970
as.numeric(dates)

[1] 17897 17898

In [16]:
# format date where its weird!
# lowercase y in format only picks up 2 chars of the year, use Y
as.Date(c('01/01/2019'), format = '%d/%m/%Y')

[1] "2019-01-01"

In [17]:
# Another case of formating a weird ass date
as.Date(c('01JAN2019'), format = '%d%b%Y')

[1] "2019-01-01"

In [19]:
# Extract values by month, year or whole date
example_date <- as.Date(c('01JAN2019'), format = '%d%b%Y')

example_date

[1] "2019-01-01"

In [20]:
# extract month
format(example_date, '%m')

[1] "01"

In [21]:
# extract day 
format(example_date, '%d')

[1] "01"

In [22]:
# extract month shorthand name
format(example_date, '%b')

[1] "Jan"

In [23]:
# extract year
# extract day 
format(example_date, '%Y') 

# apply this to a vector
format(dates, '%Y')

[1] "2019"

[1] "2019" "2019"

In [24]:
# store days in a new vector
days_vector <- format(dates, '%d')

days_vector

[1] "01" "02"

### Challenges:

#### 1. Create a vector called boolean_vec, length=8, with TRUE on the first 5 positions and FALSE on the last 3.

In [25]:
# Solution
boolean_vec <- c(TRUE, TRUE, TRUE, TRUE, TRUE, FALSE, FALSE, FALSE)

boolean_vec

[1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE

#### 2. Convert your boolean_vec to 1's and 0's and store it in an object called numeric_vec.

In [26]:
# Solution
numeric_vec <- as.integer(boolean_vec)

numeric_vec

[1] 1 1 1 1 1 0 0 0

#### 3. Test if your numeric_vec is a numeric using the R testing function.

In [27]:
# Solution
class(numeric_vec) 

typeof(numeric_vec)

[1] "integer"

[1] "integer"

#### 4. Convert your numeric_vec to character and store it in an object called char_vec.

In [28]:
# Solution
char_vec <- as.character(numeric_vec)

class(char_vec)

[1] "character"

#### 5. Assign the fifth element on numeric_vec to the character "5".

In [29]:
char_vec[5] = '5'

char_vec

[1] "1" "1" "1" "1" "5" "0" "0" "0"