### Vectors
 <p>Creating a vector-object type is important, can only be one type. FOR HELP USE ? Or help()</p>

In [66]:
Last_Update <- Sys.Date()
Last_Update

[1] "2021-10-30"

In [1]:
# example vector, assign it to a variable!
c(10000, 20000, 4000, 3000)

# assign to a variable to use anywhere in your code
cities_population <- c(10000, 20000, 4000, 3000)

# test vector
cities_population

[1] 10000 20000  4000  3000

[1] 10000 20000  4000  3000

<p> Note: to remove the object from your environment - rm(cities_population). </p>

In [ ]:
rm(cities_population)

### Indexing and slicing

In [2]:
# create new numerical vector
melons <- c(1.2, 1.4, 2.4, 3.4)

# what is the weight of the 1st melon?
# indexing starts at 1 in R, call the 1st index
melons[1]

[1] 1.2

In [3]:
# the 3rd?
melons[3]

[1] 2.4

In [4]:
# slice the vector (retrieve multiple objects) from 2-4
melons[2:4]

[1] 1.4 2.4 3.4

In [5]:
# use a vector to serve as an index
# allows you to call only specific elements of the vector
# get the 1st and last from the vector
melons[c(1,4)]

[1] 1.2 3.4

### Calculations with vectors

<p>Sum function allows you to sum the entire vector.</p>

In [6]:
sum(melons)

[1] 8.4

In [7]:
# multiplication of vectors, * THIS MULTIPLIES BY THE ELEMENT. 
melons * 2

[1] 2.4 2.8 4.8 6.8

In [8]:
# mult specified elements of the vector
melons[c(1,4)] * 2

[1] 2.4 6.8

In [9]:
#sqrt
sqrt(melons)

[1] 1.095445 1.183216 1.549193 1.843909

In [10]:
# exponential
exp(melons)

[1]  3.320117  4.055200 11.023176 29.964100

In [11]:
# multiply the weight of melons by 20% for the 1st 2 and 40% fro the last 2
adjusted_weight <- c(1.2, 1.2, 1.4, 1.4)

melons * adjusted_weight # note vectors must be the same, length or weird stuff happens

[1] 1.44 1.68 3.36 4.76

### More functions and handling unexpected values

In [12]:
# mean value of vector 2.1
mean(melons)

[1] 2.1

In [13]:
# median - 1.9 
median(melons)

[1] 1.9

In [14]:
# standard deviation - 1.013246
sd(melons)

[1] 1.013246

In [15]:
# length - 4 
length(melons)

[1] 4

#### Sorting - asc is default, use decreasing=TRUE for descending order

In [16]:
sort(melons, decreasing = TRUE)

[1] 3.4 2.4 1.4 1.2

#### Dealing with NA

In [17]:
new_melons <- c(1.2, 1.4, 2.4, 3.4, NA)

In [18]:
# the NA will inhibit your calculation and make it unavailable
# how do we clean it? na.rm=TRUE, means: to remove NA
# -- 8.4 is the output
sum(new_melons, na.rm=TRUE)

[1] 8.4

In [21]:
# lets see about NaN
new_melons <- c(1.2, 1.4, 2.4, 3.4, NaN)

sum(new_melons) # returns NaN rather than the sum

[1] NaN

In [22]:
# how to overcome this? na.rm=TRUE
sum(new_melons, na.rm=TRUE)  #returns sum of 8.4

[1] 8.4

### Comparison operators

In [23]:
# what elements are over 2 kg?
# using melons vector
melons > 2  # returns logical vector-FALSE FALSE  TRUE  TRUE but we want the actual values.

[1] FALSE FALSE  TRUE  TRUE

In [24]:
# extract the actual values
melons[melons > 2] # returns - 2.4 3.4

[1] 2.4 3.4

In [25]:
# equality
melons == 1.4 # returns logical vector

# not equal
melons != 1.4 # returns logical vector

[1] FALSE  TRUE FALSE FALSE

[1]  TRUE FALSE  TRUE  TRUE

In [26]:
# get actual elements
melons[melons == 1.4] # returns only 1 in position 2

melons[melons != 1.4] # returns 1.2 2.4 3.4

[1] 1.4

[1] 1.2 2.4 3.4

### Vector names property
<p>Assign names to properties of vectors.</p>

In [27]:
countries <- c(10276617, 675455757, 67020000)

# assign countries names to go with populations
names(countries) <- c('Portugal', 'United Kingdom', 'France')

# we get a named numeric property which allows us to index by name
countries['France'] # returns the population in position 3

  France
67020000

In [28]:
# select multiple countries, must use a new vector bc it 1d
countries[c('Portugal', 'France')]

Portugal   France
10276617 67020000

In [29]:
# apply the which() command
which(countries > 20000000)

United Kingdom         France
             2              3

In [30]:
# to only return the names
names(which(countries > 20000000))

[1] "United Kingdom" "France"

### Modifying vector elements

In [32]:
melons <- c(1.2, 1.4, 2.4, 3.4)

# change the 1st position to 2
melons[1] <- 2

melons

[1] 2.0 1.4 2.4 3.4

In [33]:
# change multiple positions
melons[2:4] <- c(3,4,5)

melons

[1] 2 3 4 5

In [35]:
# add elements to the vector- just assign a value
# the 5th position doesn't exist so we add it in an assignment
# the vector has 4 elements but we are making it 5
melons[5] <- 10

melons

[1]  2  3  4  5 10

In [37]:
# change multiple elements based on a condition 
melons <- c(1.2, 1.4, 2.4, 3.4, 1.2)

# change those < 2 to 2
melons[melons < 2] <- 2 

melons

[1] 2.0 2.0 2.4 3.4 2.0

In [38]:
# delete elements, use the negate - before the c
# this selects everything BUT 2 and 4
new_melons <- melons[-c(2,4)]

new_melons

[1] 2.0 2.4 2.0

### Challenges:

#### 1. Create a vector called kids_ages with the following elements: 12, 11, 12, 13, 14, 13, 12, 10, 12, 12, 14, 13

In [80]:
# Solution 
kids_ages <- c(12, 11, 12, 13, 14, 13, 12, 10, 12, 12, 14, 13)

kids_ages

 [1] 12 11 12 13 14 13 12 10 12 12 14 13

#### 2. Calculate the mean of the kids_ages vector.

In [81]:
# Solution
mean(kids_ages) 

# round to 2 digits
round(mean(kids_ages), digits=2)

[1] 12.33333

[1] 12.33

#### 3. Calculate the median of the kids_ages vector.

In [82]:
# Solution
median(kids_ages)

[1] 12

#### 4. Create a new logical (TRUE/FALSE) vector called subset_ages that stores with TRUE the kids that have less than 11 years old and more than 13 years old.

In [89]:
# Solution
subset_ages <- c((kids_ages > 13) & (kids_ages >13))

subset_ages

 [1] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

#### 5. Give the following names to the kids_ages vector: "John", "Rachel", "Joe", "Anne", "Theresa", "Samuel", "Marcus", "Andrew", "Kate", "Jane", "Martha", "David"

In [74]:
# Solution
names(kids_ages) <- c("John", "Rachel", "Joe", "Anne", "Theresa", "Samuel", "Marcus", "Andrew", "Kate", "Jane", "Martha", "David")

kids_ages

   John  Rachel     Joe    Anne Theresa  Samuel  Marcus  Andrew    Kate    Jane
     12      11      12      13      14      13      12      10      12      12
 Martha   David
     14      13

#### 6. Subset the ages of "Rachel" and "Anne"

In [75]:
# Solution
kids_ages[c("Rachel", "Anne")]

Rachel   Anne
    11     13

#### 7. Change the age of the fifth student to 13

In [76]:
# Solution
kids_ages[5]
kids_ages[5] <- 13
kids_ages[5]

Theresa
     14

Theresa
     13

#### 8. Return a vector named under_12 with the names of the students under 12 years old.

In [77]:
# Solution
under_12 <- kids_ages[kids_ages < 12]
under_12

Rachel Andrew
    11     10